.manager-project {
  .filter {
    background-color: #f4f5f7;
    border-radius: 7px;
  }

  .absolute {
    opacity: 0.4;
  }

  .popover {
    opacity: 1 !important;
  }
}

.admin-project-input-field {
    border: 1px solid #e2e8f0;
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.25rem;
  }
