.manager-project {
    .filter {
        background-color: #f4f5f7;
        border-radius: 7px;
    }
    
    .absolute {
        opacity: 0.4;
    }

    .popover {
        opacity: 1 !important
    }
}

